<% title "PlayBoard || Editing " + @play.name %>
<h1>Editing play</h1>
<div id="editForm">
<%= render 'form' %>
</div>
<div id="instructions">
  <ol>
    <li>To add a player, left click anywhere on the chalkboard.</li>
    <li>To give a player a route, select it by left clicking on it, and right click anywhere on the chalkboard to set a waypoint. You can add as many waypoints as you'd like.</li>
    <li>To delete a player's waypoints, or to delete a player if it has no waypoints, use the backspace key with the player selected.</li>
    <li>You can edit a player's properties in the right sidebar when it is selected</li>
    <li>To save your play, either click the 'Update Play' button above, or when working on the chalkboard, hit ctrl and s.</li>
    <li>To animate your play, either click the play icon below the chalkboard, or when working on the chalkboard, hit spacebar.</li>
    <li>Enjoy!</li>
  </ol>
</div>

<a id="toggleInstructions">Instructions</a>

<canvas id="chalkboard" width="800" height="600" tabindex='1'>
  <p>Your browser does not support the canvas element. For best results, please use the latest versions of Google Chrome, Firefox, Safari, or Internet Explorer.</p>
</canvas>

<div id='infoBox'>
  <h1>Player Details</h1>
  <div id='details'></div>
</div>

<div id="bottomButtons">
  <%= image_tag( 'playButton.png', :id => 'playButton', :title => 'Play') %>
</div>

<%= link_to 'Show', @play %> |
<%= link_to 'Back', plays_path %>
