<nav>
  <ul>
    <li><%= link_to 'Your Plays', plays_path %></li>
    <li><%= link_to 'New Play', new_play_path %></li>
    <li><%= link_to 'Your Profile', @user %></li>
    <li><%= link_to 'Logout', '/logout' %></li>
  </ul>
</nav>