<% title "PlayBoard || Welcome" %>
<section id="intro">
  <header>
    <h1>Looking for the edge on your opponents?</h1>
  </header>
  <p>PlayBoard is the next generation of playbook creation. Draw and animate your plays with all the power of the latest web technology behind you. Share them with your players and make sure they're doing their homework.</p>
  <p>PlayBoard: The future of the playbook.</p>
</section>
